.graph1{
    width: 100vw;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
}

#title {
    text-align: center;
    font-family: 'Roboto';
}


.presentation .text {
    padding: 60px;
    justify-content: center;
    column-count: 2;
    column-gap: 20px;
    font-size: 1.2rem;
    font-family: 'Roboto';
}
