.btn {
    margin-top: 1rem;
    padding: 0.5em 1em;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
}

.outline{
    background: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    text-align: center;
}

.outline:hover{
    background: rgba(252,163,17, .1);
}

.primary{
    background: rgba(238, 173, 45, .8);
    color: #2f3337;
}

.primary:hover{
    background: rgba(238, 173, 45, .4);
    color: #e6e7ea;
    cursor: pointer;
}

@media screen and (max-width: 650px){

    .btn{
        width: 100%;
        height: 3em;
    }

}