.dafault_page {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 100vh;
    background-color: #2f3337;
}

.main {
    width: 70vw;
    height: 100vh;
}
@media screen and (max-width: 650px){
    .dafault_page {
        display: flex;
    }

    .main{
        width: 100vw;
    }
}