
.NavbarItems {
    background-color: var(--bg-navbar);
    height: 100vh;
    width: 400px;
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-left: 30px;
}

.NavbarItems::-webkit-scrollbar{
    width: 0px;
}

.nav-menu {
    width: 75%;
    margin-top: 10%;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: start;
}

.listItem{
    border-top: 2px solid #2d3134;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.listItem:first-child{
    border-top: none
}
.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.nav-link-active {
    color: var(--orange);
    text-decoration: none;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.nav-link:hover{
    color: var(--orange);
    border-radius: 4px;
    transition: all 0.2 ease-out
}

.fa-bars{
    color: #2d3134;
    font-size: 1.5rem;
}

.menu-icon{
    display: none;
}
@media screen and (max-width: 980px){

    .NavbarItems {
        position: absolute;
        background-color: transparent;
    }

    .menu-icon{
        display: block !important;
        font-size: 1.8rem;
        height: 3rem;
        width: 3rem;
        background-color: #959ca3;
        text-align: center;
        line-height: 48px;
        border-radius: 50%;
        right: 0;
        cursor: pointer;
        margin: 5% 5%;
        box-shadow: 2px 2px 2px #999;
        position: fixed !important;
        z-index: 11;
    }

    .nav-menu {
        margin: 0;
        padding: 10% 10% 0% 10%;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100vh;
        position: absolute;
        left: -500%;
        opacity: 1;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 400px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 50%;
        opacity: 1;
        z-index: 10;
        overflow-y: auto;
        scrollbar-color: #2f3337 #2f3337;
    }

    .nav-menu.active li {
        background-color: #2f3337;
        border: none;
        border-bottom: 2px solid;
        border-color: #1c1f23;
        border-radius: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-menu.active #major {
        background-color: #1c1f23;
    }

    .nav-menu.active::-webkit-scrollbar{
        width: 0;
    }

}
@media screen and (max-width: 650px){
    
    .NavbarItems {
        position: absolute;
        width: 100vw;
        background: transparent;
    }

    .nav-menu {
        margin: 0;
        padding-top: 22%;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        left: -500%;
        opacity: 1;
    }

    .nav-menu.active {
        width: 100%;
        background-color:  #1c1f23;
        opacity: 1;
        z-index: 1;
        left: 0;
        position: fixed;
        overflow-y: auto;
        scrollbar-color: #1c1f23 #1c1f23;
    }

    .nav-menu.active #major {
        border: none;
        border-bottom: 2px solid;
        border-color: rgb(19,19,19);
    }

    .nav-menu.active::-webkit-scrollbar{
        width: 0;
    }

    .listItem{
        margin: 0 10%;
    }
    
    .nav-link {
        padding: .1rem 0;
        width: 100%;
        display: table;
        font-size: 20px;
    }

    .nav-link-active {
        padding: .1rem 0;
        width: 100%;
        display: table;
        font-size: 20px;
    }

    .menu-icon{
        display: block !important;
        font-size: 1.8rem;
        height: 3rem;
        width: 3rem;
        background-color: #959ca3;
        text-align: center;
        line-height: 48px;
        border-radius: 50%;
        right: 0;
        cursor: pointer;
        margin: 10% 10%;
        box-shadow: 2px 2px 2px #999;
        position: fixed !important;
        z-index: 2;
    }

    .fa-times{
        color: #2d3134;
        font-size: 1.5rem;
    }
}